@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}


.flex {
    display: flex;
}

/* inicio */

header {
    padding: 40px 4%;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header img {
    width: 100px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    
}

.menu ul li a {
    text-decoration: none;
    margin: 20px;
    color: #914822;
}

.menu ul li a:hover {
    font-size: large;
    cursor: pointer;
}

.botao-header a .button{
    background-color: #4FCE5D;
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    
}

.botao-header a .button:hover {
    cursor: pointer;
     background-color: #F38321;
}

/*menu-mobile*/

.button-abrir {
    display: none;
}

.menu-mobile {
    background-color: wheat;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    transition: .5s;
}

.menu-mobile.button-abrir {
    width: 100%;
}

.menu-mobile ul {
    text-align: right;
}

.menu-mobile ul li {
    list-style-type: none;
    padding: 30px 4%;
}

.menu-mobile ul li a {
    text-decoration: none;
    margin: 20px;
    color: #914822;
    
}

.button-abrir {
    font-size: 20px;
    color: #914822;
}

.button-abrir:hover {
    cursor: pointer;
}

.close {
    color: #914822;
    padding: 20px 4%;
}

.close:hover {
    cursor: pointer;
}

header .botao-header {
    display: none;
}

/*PADRÃO*/

.test img {
    height: 500px;
    width: 100%;
}

.test-smart img {
    display: none;
}


/*natural*/

.natural {
    padding: 80px 4px;
}

.natural .flex {
    justify-content: space-evenly;
    align-items: center;
}

.natural-titulo {
    color: #914822;
    margin-bottom: 20px;
}

.natural-sub {
    margin-bottom: 20px;
}

.natural-img img {
    width: 450px;
    height: 350px;
    border-radius: 15px;
}


/* dores*/

.dores {
    padding: 80px 4px;
    background-color: #F38321;
    text-align: center;
}

.dores-titulo {
    color: white;
    margin-bottom: 20px;
}

.dores-sub {
    color: white;
    margin-bottom: 20px;
}

.dores .botao-header {
    margin-bottom: 20px;
}

.dores-img img {
    width: 450px;
    height: 350px;
    border-radius: 15px;
}

/*segura*/

.segura {
    padding: 80px 4px;
}

.segura .flex {
    justify-content: space-evenly;
    align-items: center;
}

.segura-img img {
    width: 450px;
    height: 350px;
    border-radius: 15px;
}

.segura-titulo {
    color: #914822;
    margin-bottom: 20px;
}

.segura-sub {
    margin-bottom: 20px;
}


/* rodape */

.rodape {
    padding: 40px 4%;
    background-color: wheat;
}

.rodape .flex {
    justify-content: space-between;
    align-items: center;
}

.rodape-img img {
    width: 200px;
}

.rodape-h2 {
    color: #914822;
}

.rodape-menu ul li a, .rodape-politica ul li a {
    color: #914822;
    text-decoration: none;
    
}

.rodape-menu ul li, .rodape-politica ul li   {
    text-decoration: none;
    list-style-type: none;
    margin-top: 1em;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.direitos {
    text-align: center;
}

.direitos a {
    color: black;
}


/* rodape */


@media (max-width: 575px) {
    .menu {
        display: none;
    }

    .test img {
        display: none;
    }

    .test-smart img {
        display: block;
        width: 100%;
    }

    .natural .flex {
        display: block;
    }

    .natural-titulo {
        text-align: center;
    }

    .natural-sub{
        text-align: center;
        font-size: .8rem;
    }

    .natural .botao-header {
        text-align: center;
    }

    .natural-img{
        text-align: center;
    }

    .natural-img img {
        width: 350px;
        height: 250px;
        margin-top: 20px;
    }

    .dores-sub {
        font-size: .8rem;
    }

    .dores-img img {
        width: 350px;
        height: 250px;
        border-radius: 15px;
    }


    .segura .flex {
        flex-direction: column-reverse;
    }

    .segura-titulo {
        text-align: center;
    }

    .segura-sub {
        font-size: .8rem;
        text-align: center;
    }

    .segura .botao-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .segura-img img {
        width: 350px;
        height: 250px;
    }
    
    .rodape .flex {
        display: block;
        text-align: center;
        
    }

    .rodape-img {
        margin-bottom: 45px;
    }

    .rodape-politica {
        margin-top: 45px;
    }
}