@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}


.flex {
    display: flex;
}

/* inicio */

header {
    padding: 40px 4%;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header img {
    width: 100px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    
}

.menu ul li a {
    text-decoration: none;
    margin: 20px;
    color: #914822;
}

.menu ul li a:hover {
    font-size: large;
    cursor: pointer;
}

.botao-header a .button{
    background-color: #4FCE5D;
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    
}

.botao-header a .button:hover {
    cursor: pointer;
     background-color: #F38321;
}

/* inicio */


/* Destaque */
.test img {
    height: 500px;
    width: 1351px;
}

.destaque {
    padding: 40px 4%;
}

.destaque .destaque-h2 h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #914822;
}

.destaque .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

.destaque .parto { 
    border-radius: 5px;
}

.destaque .parto .img-parto img {
    width: 150px;
    border-radius: 300px;
    border:  2px solid #914822;
}

.destaque .destaque-p p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.destaque #zap {
    text-align: center;
    padding-bottom: 20px;
}

.destaque #zap a .button {
    background-color: #4FCE5D;
    color: white;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    
}

.destaque #zap a .button:hover {
    cursor: pointer;
    background-color: #F38321;
}
/* Destaque */

/* Pre-um */

.pre-um {
    padding: 40px 4%;
    background-color: #F38321;
    
}

.pre-um .flex {
    justify-content: space-between;
    align-items: center;
}

.pre-um .script .h2 h2 {
    color: white;
    padding-bottom: 10px;
}

.pre-um .script .p p {
    color: white;
    padding-bottom: 20px;
}


.pre-um .script-img img {
    width: 600px;
    border-radius: 20px;
    height: 400px;
}

.pre-button a .button {
    width: 150px;
    height: 30px;
    background-color: #4FCE5D;
    color: white;
    border: none;
    border-radius: 10px;
}

.pre-button a .button:hover {
    background-color: white;
    color: #F38321;
    cursor: pointer;
}

/* Pre-dois */

.pre-dois {
    padding: 40px 4%;
    background-color: #F38321;
    
}

.pre-dois .script-img img {
    width: 600px;
    border-radius: 20px;
    height: 400px;
}


.pre-dois .flex {
    justify-content: space-between;
    align-items: center;
}

.pre-dois .script .h2 h2 {
    color: white;
    padding-bottom: 10px;
}

.pre-dois .script .p p {
    color: white;
    padding-bottom: 20px;
}

/* Pre-dois */